.header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-family: graphic, sans-serif;
}